<h1><a href="/jobsite/<%=@jobsite.id%>"><%= @jobsite.name %></a></h1>
<h2> Sitecrew</h2> 
    <div id = "sitecrew">
        <h3>Add Employee</h3>
        <form class="edit_employee" action="/employee/new" method="POST">
            <table>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Title</th>
                </tr>
                <tr>  
                    <td><input type="text" name="employee[last_name]"></td> 
                    <td><input type="text" name="employee[first_name]"></td>
                    <td>
                        <select id="titles" name="title" required>
                            <option value=""></option>
                            <%Title.all.each do |t|%>                    
                            <option value=<%=t.id%>><%=t.title%></option>
                            <%end%>
                        </select>     
                    </td>
                    <td><input type="submit" value="Add Employee"></td>
                    <input type="hidden" name="jobsite[id]" value=<%=@jobsite.id%>>
                </tr>
            </table> 
        </form>
    </div>
<br>
    <div>
     <h3>Current Crew</h3> 
    
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Title</th>
        </tr>
    
    <%@employees.each do |employee|%>
        <tr>
            <td><button id="delete_employee"><a href="/sitecrew/<%=@jobsite.id%>/delete/<%=employee.id%>">X</a></button></td>
            <td><button id="edit_employee"><a href="/sitecrew/<%=@jobsite.id%>/edit/<%=employee.id%>">...</a></button></td>
            <td width="150px;"><%=employee.full_name%></td>
            <td><%=Title.find(employee.title_id).title%></td>
        </tr>
    <%end%>
    </table>
<div> 

<br><button><a href="/jobsite/<%= @jobsite.id %>">Cancel</a></button>