<h1><%= @jobsite.name %></h1>

<h2>Jobs</h2>
<% site_areas = [] %>
<table>
    <tr>
        <th>Job No.</th>
        <th>Job Name</th>
        <th>Customer</th>
        <th> Areas :</th>
        <%@site_areas.each do |area|%>
        <th><%=area.code%></th>
        <%end%>
    </tr>

    <% @jobs.each do |job| %>
        <tr>
            <td><%=job.job_number%></td>
            <td><%=job.name%></td>
            <td><%=job.customer%></td>
        </tr>
    <% end %>
</table>
<br>
<h2>Site Crew</h2>
<form class="edit_employee" action="/employee/new" method="POST">
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Title</th>
        </tr>
        <tr>  
            <td><input type="text" name="employee[last_name]"></td> 
            <td><input type="text" name="employee[first_name]"></td>
            <td>
                <select id="titles" name="title" required>
                    <option value=""></option>
                    <%Title.all.each do |t|%>                    
                    <option value=<%=t.id%>><%=t.title%></option>
                    <%end%>
                </select>     
            </td>
            <td><input type="submit" value="Add Employee"></td>
            <input type="hidden" name="jobsite[id]" value=<%=@jobsite.id%>>
        </tr>
    </table> 
</form>
<br>

<table>
    <tr>
        <th></th>
        <th>Employee Name</th>
        <th>Title</th>
        <th><a href="/sitecrew/edit">add/remove</a></th>
    </tr>
    
    <%@employees.each do |employee|%>
    <tr>
        <td><button id="edit_employee"><a href="/sitecrew/<%=employee.id%>/edit">...</a></button></td>
        <td><%=employee.full_name%></td>
        <td><%=Title.find(employee.title_id).title%></td>
    </tr>
    <%end%>
</table>