<h2>Jobs</h2> 

# Display the current Jobs in the Jobsite
<table>
    <tr>
        <th>Job No.</th>
        <th>Job Name</th>
        <th>Customer</th>
        <th> Areas :</th>
        <%site_areas.each do |area|%>
            <th><%=area.code%></th>
        <%end%>
    </tr>

    <% jobs.each do |job| %>
        <tr>
            <td><%=job.job_number%></td>
            <td><%=job.name%></td>
            <td><%=job.customer%></td>
            <td></td>
                <% site_areas.each do |area| %>
                    <td><%='X' if job.areas.include?(area)%>></td>
                <% end %>
        </tr>
    <% end %>
</table>