<h1><a href="/jobsite/<%=@jobsite.id%>"><%= @jobsite.name %></a></h1>
<h2> Jobs</h2> 

<button><a href="/jobsite/<%= @jobsite.id %>/jobs/new">Add Job</a></button><br><br>
    <div>
        <h3>Edit Jobs</h3>
        <form action="/jobsite/<%=@jobsite.id%>/jobs/edit/<%=@job.id%>" method="POST">
            <table>
                <tr>
                    <th>Job No.</th>
                    <th>Job Name</th>
                    <th>Customer</th>
                    <th><%= 'Areas:  ' if @site_areas.size > 0%></th>
                    <%@site_areas.each do |area|%>
                        <th><%=area.code%></th>
                    <%end%>
                </tr>
                <tr>
                    <td><%=@job.job_number%></td>
                    <td><input type="text" name="job[name]" value="<%=@job.name%>"></td>
                    <td><input type="text" name="job[customer]" value="<%=@job.customer%>"></td>
                    <td></td>
                        <% @site_areas.each do |area| %>
                        <td><input type="checkbox" name="job[areas][]" id="area_<%= area.id %> " value="<%= area.id %>" <%='checked' if @job.areas.include?(area)%>></td>
                        <% end %>
                </tr>
            </table>
            <br>
            <input type="submit" value="Update Job">
        </form>
    </div>
<br><br>
    <div>
        <h3>Add Area</h3>
        <form action="/jobsite/<%= @jobsite.id %>/jobs/new/area" method="POST">
            <label>Code: <input type="text" name="area[code]"  maxlength="3" required></label><br>
            <label>Name: <input type="text" name="area[name]" required></label>
            <input type="submit" value = "Add Area">
        </form>
    </div>

