<h2><%= @jobsite.name %> - Jobs</h2> 
<button><a href="/jobsite/<%= @jobsite.id %>/jobs/new">Add Job</a></button><br><br>

<form action="/jobsite/<%=@jobsite.id%>/jobs/edit" method="POST">
    <table>
        <tr>
            <th>Job No.</th>
            <th>Job Name</th>
            <th>Customer</th>
            <th>   Areas   </th>
            <%@site_areas.each do |area|%>
                <th><%=area.code%></th>
            <%end%>
        </tr>

        <% @jobs.each do |job| %>
            <tr>
                <td><input type="text" name="job[job_number]" value=<%=job.job_number%>></td>
                <td><input type="text" name="job[name]" value=<%=job.name%>></td>
                <td><input type="text" name="job[customer]" value=<%=job.customer%>></td>
                <td></td>
                    <% @site_areas.each do |area| %>
                        <td><input type="checkbox" name="job[areas][]" id="area_<%= area.id %> " value="<%= area.id %>" <%='checked' if job.areas.include?(area)%>></td>
                    <% end %>
            </tr>
        <% end %>
    </table>
    <br>
    <input action="/jobs/edit" value="Update Jobs">
</form>

