<h2><%= @jobsite.name %> - Jobs</h2> 
    <div>
        <h3>Add Job</h3>
        <div>
            <form action="/jobsite/<%= @jobsite.id %>/job/new" method="POST">
                <table>
                    <tr>
                        <th>Job No.</th>
                        <th>Job Name</th>
                        <th>Customer</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="job[job_number]" value=<%=@job_edit.job_number unless @job_edit.nil?%> ></td> 
                        <td><input type="text" name="job[name]" value=<%=@job_edit.name unless @job_edit.nil?%>></td>
                        <td><input type="text" name="job[customer]" value=<%=@job_edit.customer unless @job_edit.nil?%>></td>
                        <td><input type="hidden" name="job[jobsite_id]" value=<%=@jobsite.id%> ></td>
                    </tr>
                </table>
                        <% @site_areas.each do |area| %>
                            <%= area.code %><input type="checkbox" name="job[areas][]" id="area_<%= area.id %> " value="<%= area.id %>">
                        <% end %>
                <input type="submit" value="Add Job">
            </form>
        </div>
        <br>

    </div>
<br><br>
    <div>   
        <h3>Current Jobs</h3> 
        <table>
            <tr>
                <th>Job No.</th>
                <th>Job Name</th>
                <th>Customer</th>
                <th> Areas :</th>
                <%@site_areas.each do |area|%>
                    <th><%=area.code%></th>
                <%end%>
            </tr>
            <% @jobs.each do |job| %>
            <tr>
                <td><%=job.job_number%></td>
                <td><%=job.name%></td>
                <td><%=job.customer%></td>
                <td></td>
                    <% @site_areas.each do |area| %>
                        <td><%='X' if job.areas.include?(area)%></td>
                    <% end %>
            </tr>
            <% end %>
        </table>
    </div>