<!DOCTYPE html>
  <head>
    <title>Jobsite Log - Jobs</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <header>
        <nav style="float:left;">
            <a href="/jobsites">Jobsites</a>
            <a href="/logout">Log Out</a>
        </nav>
        <h4 style="float:right;"> Logged in: <%=current_user.first_name%> <%=current_user.last_name[0].capitalize%> </h4>
  </header>

    <div class="wrapper">
        <h2>
        <a href="/jobsite/<%=@jobsite.id%>"><%=@jobsite.name%></a>
        <button style="float:right;"><a href="/jobsite/<%= @jobsite.id %>">X</a></button>
        </h2>

        <%= yield %>

        <% if @jobs.size > 1 %>
            <div>   
                <h2>Current Jobs</h2> 
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Job No.</th>
                        <th>Job Name</th>
                        <th>Customer</th>
                        <th></th>
                        <%@site_areas.each do |area|%>
                            <th><%=area.code%></th>
                        <%end%>
                    </tr>
                    <% @jobs.each do |job| %>
                    <tr>
                        <td  style="width:1%" ><button><a href="/jobsite/<%= @jobsite.id %>/jobs/delete/<%= job.id %>">X</a></button></td>
                        <td  style="width:1%" ><button><a href="/jobsite/<%= @jobsite.id %>/jobs/edit/<%= job.id %>">...</a></button></td>
                        <td style="width:5%"><%=job.job_number%></td>
                        <td style="width:20%"><%=job.name%></td>
                        <td style="width:20%"><%=job.customer%></td>
                        <td style="width:.25%" ></td>
                            <% @site_areas.each do |area| %>
                                <td style="width:3.5%" ><%='X' if job.areas.include?(area)%></td>
                            <% end %>
                    </tr>
                    <% end %>
                </table>
            </div>
        <%end%>
    </div>
  </body>
</html>