<!DOCTYPE html>
  <head>
    <title>Jobsite Log - Sitecrew</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <header>
            <div class="dropdown" style="float:left;">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content" style="left:0;">
                  <% unless @jobsite.nil? %>
                      <a href="/jobsites">Jobsites</a>
                  <% end %>
                  <a href="/logout">Log Out</a>
                </div>
              </div>

              <div  id="headerWelcome"> Welcome, <%=current_user.first_name%> <%=current_user.last_name[0].capitalize%>!</div>
    </header>

    <div class="main_page">
        <h2  id="sub_header">
            <a href="/jobsite/<%=@jobsite.id%>"><%=@jobsite.name%></a>
            <button  id="back_button" style="float:right;"><a href="/jobsite/<%= @jobsite.id %>">X</a></button>
        </h2>

        <%= yield %>

        <% if @jobsite.employees.size > 1 %>
            <div id="display_list">   
                <h2>Site Employees</h2> 
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Title</th>
                        </tr>
                    
                    <%@jobsite.employees.each do |employee|%>
                        <tr>
                            <td style="width:1%" ><button id="delete_employee"><a href="/sitecrew/<%=@jobsite.id%>/delete/<%=employee.id%>">X</a></button></td>
                            <td style="width:2%"><button id="edit_employee"><a href="/sitecrew/<%=@jobsite.id%>/edit/<%=employee.id%>">...</a></button></td>
                            <td style="width:10%"><%=employee.full_name%></td>
                            <td><%=Title.find(employee.title_id).title%></td>
                        </tr>
                    <%end%>
                    </table>
            </div>
        <%end%>
    </div>
  </body>
</html>