<!DOCTYPE html>
  <head>
    <title>Jobsite Log - Sitecrew</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
            <nav style="float:left;">
                <a id = "header_link" href="/logout">Log Out</a>
                <a id = "header_link" href="/jobsites">Jobsites</a>
                <a id = "header_link"  href="/jobsite/<%=@jobsite.id%>/time_entry">Time Entry</a>
            </nav>
            <h4 style="float:right;"> Logged in: <%=current_user.first_name%> <%=current_user.last_name[0].capitalize%> </h4>
    </header>

    <div class="wrapper">
        <h2><a href="/jobsite/<%=@jobsite.id%>"><%=@jobsite.name%></a><button style="float:right;"><a href="/jobsite/<%= @jobsite.id %>">X</a></button></h2>

        <%= yield %>

        <% if @employees.size > 1 %>
            <div>   
                <h2>Site Employees</h2> 
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Title</th>
                        </tr>
                    
                    <%@employees.each do |employee|%>
                        <tr>
                            <td style="width:1%" ><button id="delete_employee"><a href="/sitecrew/<%=@jobsite.id%>/delete/<%=employee.id%>">X</a></button></td>
                            <td style="width:2%"><button id="edit_employee"><a href="/sitecrew/<%=@jobsite.id%>/edit/<%=employee.id%>">...</a></button></td>
                            <td style="width:10%"><%=employee.full_name%></td>
                            <td><%=Title.find(employee.title_id).title%></td>
                        </tr>
                    <%end%>
                    </table>
            </div>
        <%end%>
    </div>
  </body>
</html>