<!DOCTYPE html>
  <head>
    <title><%=@jobsite.name%> - Time Entry</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/time_entry.css" />
  </head>
  <body>
  <header>
            <div class="dropdown" style="float:left;">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content" style="left:0;">
                  <a href="/jobsites">Jobsites</a>
                  <a href="/logout">Log Out</a>
                </div>
              </div>

              <div  id="headerWelcome"> Welcome, <%=current_user.first_name%> <%=current_user.last_name[0].capitalize%>!</div>
  </header>

        <div class="main_page">
            <h2 id="sub_header">
              <%=@jobsite.name%>
              <button id="subheader_button"><a href="/jobsite/<%= @jobsite.id %>">Dashboard</a></button>
            </h2>
            

            <%= yield %>

        </div>
       <script src="/js/time_entry.js"  type="text/javascript"></script>
    </body>
</html>