<!DOCTYPE html>
  <head>
    <title>Jobsite Log - Jobs</title>
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
  <header>
            <div class="dropdown" style="float:left;">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content" style="left:0;">
                  <a href="/jobsites">Jobsites</a>
                  <a href="/logout">Log Out</a>
                </div>
              </div>

              <div  id="headerWelcome"> Welcome, <%=current_user.first_name%> <%=current_user.last_name[0].capitalize%>!</div>
  </header>

    <div class="main_page">

        <h2 id="sub_header">
            <%=@jobsite.name%>
            <button id="subheader_button"><a href="/jobsite/<%= @jobsite.id %>">Dashboard</a></button>
        </h2>

        <%= yield %>

        <% if (@jobsite.jobs.size > 0 && @job.nil?) || (@jobsite.jobs.size > 1 && !@job.nil?)%>
            <div id="display_list">   
                <h2>Current Jobs</h2> 
                <table id="tbl_list_job" width=75% style="text-align:left;">
                    <tr>
                        <th id="blank_header" style="text-align: center;" width=0px padding=0px ></th>
                        <th id="blank_header" style="text-align: center;" width=0px padding=0px ></th>
                        <th style="text-align: left;">Job No.</th>
                        <th style="text-align: left;">Job Name</th>
                        <th style="text-align: left;">Customer</th>
                        <%@jobsite.site_areas.each do |area|%>
                            <th style="text-align: center;"><%=area.code%></th>
                        <%end%>
                    </tr>
                    <% @jobsite.jobs.each do |job| %>
                    <tr>
                        <td id="blankcell" style="text-align: center;" width=5px padding=0px ><button><a href="/jobsite/<%= @jobsite.id %>/jobs/delete/<%= job.id %>">X</a></button></td>
                        <td id="blankcell"  style="text-align: center;" width=5px padding=0px ><button><a href="/jobsite/<%= @jobsite.id %>/jobs/edit/<%= job.id %>">...</a></button></td>
                        <td style="text-align: left;" width=60px><%=job.job_number%></td>
                        <td style="text-align: left;" width=200px><%=job.name%></td>
                        <td style="text-align: left;" width=200px><%=job.customer%></td>
                        <% @jobsite.site_areas.each do |area| %>
                            <td style="text-align: center;" width=20px ><%='X' if job.areas.include?(area)%></td>
                        <% end %>
                    </tr>
                    <% end %>
                </table>
            </div>
        <%end%>
    </div>
  </body>
</html>